.sidenav {
  position: fixed;
  top: 15px;
  left: 10px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--color-light-gray);
  color: var(--color-black);
  height: auto;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 100;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.sidenav.menu-open {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid var(--color-black);
}

.sidenav.dark-mode {
  color: var(--color-white);
}

.sidenav.open {
  width: 200px;
  height: auto;
}

.sidenav.dark-mode .menu-toggle,
.sidenav.dark-mode .minimized-text,
.sidenav.dark-mode .theme-icon-wrapper,
.sidenav.dark-mode .submenu-item {
  color: var(--color-white);
}

.sidenav.dark-mode {
  background-color: var(--color-sidenav-background-dark);
}

.menu-toggle {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu-toggle-open {
  text-align: start;
}

.sidenav.dark-mode .menu-toggle {
  color: var(--color-white);
}

.minimized-text {
  font-size: 14px;
  margin-right: 60px;
  color: var(--color-black);
}

.menu-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.sidenav.open .menu-item-wrapper {
  margin-right: 65px;
}

.theme-text {
  font-size: 16px;
  padding-left: 15px;
}

/* THEME MENU */
.submenu-container {
  position: fixed; 
  left: calc(221px + 10px); 
  top: 15px;
  background-color: var(--color-light-gray);
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 101;
  width: 150px;
  height: auto;
  opacity: 1;
  transform: translateX(0);
}

.sidenav.dark-mode .submenu-container {
  background-color: var(--color-sidenav-background-dark);
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.submenu-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  padding: 10px;
}

.sidenav.dark-mode .submenu-title {
  color: var(--color-white);
}

.submenu-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.submenu-item:hover {
  background-color: var(--color-light-hover);
}

.sidenav.dark-mode .submenu-item:hover {
  background-color: var(--color-sidenav-active-theme-color);
}

.submenu-item.active {
  background-color: var(--color-light-active);
  color: var(--color-black);
}

.sidenav.dark-mode .submenu-item.active {
  background-color: var(--color-sidenav-active-theme-color);
  color: var(--color-white);
}

.menu-item.open .arrow-icon {
  transform: rotate(90deg);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  margin: 10px 0;
}

/* Close Icon */
.close-icon {
  font-size: 24px;
  color: var(--color-black);
  cursor: pointer;
}

.sidenav.dark-mode .close-icon {
  color: var(--color-white);
}
