:root {
  /* LIGHT THEME */
  --color-primary-bg: #F2F6F9;
  --color-secondary-bg: #FFFFFF;
  --color-primary-font: #1E283E;
  --color-secondary-font: #8392ab;
  --color-selected-bg: #f0f0f0;
  --color-node-border: #E2E8F0;
  --color-input-bg: #FFFFFF;
  --color-disabled-bg: #E9ECEF;
  --color-chat-message-sent: #0f87ff;
  --color-chat-message-received: #e5e5e5;
  --color-send-button: #4677ff;
  --color-send-button-hover: #2956d1;
  --close-icon: #000;
  --link-hover: #2a7cff;
  --color-code-block-header: #ffffff;

  /* Existing variables for compatibility */
  --color-primary: #6eb6ff;
  --color-background-light: var(--color-primary-bg);
  --color-text-dark: var(--color-primary-font);
  --color-light-gray: var(--color-primary-bg);
  --color-light-blue: #3498db;
  --color-hover-light: #E2E8F0;
  --color-light-hover: #E2E8F0;
  --color-light-active: #E2E8F0;
}

body.dark-mode {
  /* DARK THEME */
  --color-primary-bg: #05111F;
  --color-secondary-bg: #1E283E;
  --color-primary-font: #ffffff;
  --color-secondary-font: #A5ADC1;
  --color-selected-bg: #444E63;
  --color-node-border: #2D3748;
  --color-input-bg: #454d62;
  --color-disabled-bg: #454d62;
  --color-chat-message-received: #2D3748;
  --close-icon: #fff;
  --color-code-block-header: #000000;

  /* Existing variables for compatibility */
  --color-background-dark: var(--color-primary-bg);
  --color-text-light: var(--color-primary-font);
  --color-light-gray: var(--color-primary-bg);
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-primary-font);
  background-color: var(--color-primary-bg);
  overflow-y: auto;
}

body.dark-mode {
  background-color: var(--color-primary-bg);
  color: var(--color-primary-font);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin-left: 0;
  transition: margin-left 0.28s cubic-bezier(0.7,0,0.3,1), background 0.16s;
}

.App.sidenav-open {
  margin-left: var(--sidenav-width);
}

@media (max-width: 700px) {
  .App,
  .App.sidenav-open {
    margin-left: 0;
  }
}