.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

body {
  margin: 0;
  color: #6eb6ff;
  text-shadow: 1px 1px 1px #000;
  background-color: #05111f;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  width: 100%; 
  max-width: 600px;
  margin: 0 auto;
}

.chat-container button {
  background-color: #6eb6ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 12px;
  flex-shrink: 0;
}

.chat-message {
  background-color: #1e283e;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 5px auto;  /* Center the message horizontally */
  max-width: 75%;  /* Limit the width of messages */
  width: fit-content;  /* Automatically adjust to content */
}

.chat-message.sent {
  align-self: flex-end; /* Aligns sent messages to the right */
  margin-right: 20%;
  width: 20%;
}

.chat-message.received {
  align-self: flex-start; /* Aligns received messages to the left */
  margin-left: 20%;
  width: 25%;
}

.chat-message-send {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.chat-box {
  background-color: #1e283e;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 10px;
  flex: 1;
  resize: none;
  width: 500px;
  height: 50px;
  margin-bottom: 10px;
  outline: none;
}